/*kommentoor*/
header{
    color: maroon;
    background-color: moccasin;
    width: 60%;
}
head h1{
    font-family: sans-serif;
    font-size: larger;
    letter-spacing: 0.3cm;
    border-bottom: solid 1pt red; /*dotted dosher double*/
}
li{
    float:left;
}
li a{
    display: block;
    color: blue;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-right: solid 1px red;
    font-variant: small-caps;
}
ul{
    list-style-type:none ;
    margin:0; /*väline vahe elementist*/
    padding:0; /*elemendi sisu ümber ruum*/
    overflow: hidden;
    background-color: plum;
}
li a:hover{
    background-color: orange;
    color: lightblue;
    text-decoration: double underline;
}
.nimikiri{
    list-style-type:"*" ;
    margin:0; /*väline vahe elementist*/
    padding: 20px; /*elemendi sisu ümber ruum*/
    background-color: lightcoral;
}
img#pilt1{
    width: 10%;
}
img#pilt2{
    width: 20%;
    border: dotted 2pt red;
}
img#pilt3{
    width: 30%;
    border: solid 1pt darkblue;
    border-radius: 200px;
}
.nmk{
    margin:0; /*väline vahe elementist*/
    padding: 20px; /*elemendi sisu ümber ruum*/
    background-color: burlywood;
    border: solid 1pt black;
    font-size: 18px;
    border-radius: 200px;
}
.fff{
    margin:0; /*väline vahe elementist*/
    padding: 10px 20px;
    background-color: darkviolet;
    color: black;
    text-decoration:underline;
    border: solid 5pt Green;
    font-size: 34px;
    text-align: center;
    border-radius: 10px;
}
.rrr{
    font-size: 13px;
    background-color: cadetblue;
    border: solid 15pt black;
    text-align: center;
    padding:20px;
}
img#pilt4 {
    width: 25%;
    border: solid 10pt Yellow;
    border-radius: 200px;
}